/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Raleway:wght@200;300;400;800;900&display=swap');

/* Color Set*/
:root {
    --emp: #8e8377;
    --main:#F0EDE8;
    --off-white: #f6f6f6;
    --white: #fff;
    --dark: #23272a;
    --gray: #515151;
    --error:#ffb9ad;
    --highlight: #fff9f9;
}
html, body {
    /* html and body occupy the entire screen */
    height: 100%;
    width: 100%;
    margin:0;
    /* set basic font and its styles */
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color:var(--dark);
}
a {
    /* reset a link's default */
    text-decoration: none;
    color: var(--dark);
}
a:hover {
    /* when a link is hovered over, displayed it underlined for better user experience */
    text-decoration: underline;
}
section {
    /* display the parent element in flex box so it gets margins properly by the child attribute (margin:auto) */
    display: flex;
    /* set a minimum height for each section so it won't have a content-based height */
    min-height: 800px;
}
div.content-container{
    /* limit the width and max width of content area up to 95% of the viewport and 1024px at max */
    width: 95vw;
    max-width:1024px;
    /* make content area have equal margin on the left and the right*/
    margin:auto;
    /* display items in the flex content area with top to bottom direction */
    display: flex;
    flex-direction: column;
    /* in Flex or Grid area, put item around the center*/
    align-items: center;
}
h2 {
    /* each section title's default style */
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 40px;
    color:var(--gray);
}
span.required {
    /* set styles of (*) next to the required fields */
    font-weight: 800;
    margin-left: 3px;
}
.centered {
    /* set child elements centered */
    text-align: center;
}
p.justify {
    /* justify texts based on class */
    text-align: justify;
}
q {
    /* set different color for quotes so that they stand out less */
    color: var(--gray);
}
/************************
 * SECTION 1 : Overview *
 ***********************/
section#overall-sec{
    background-color: var(--main);
}
section#overall-sec img{
    width: 350px;
}
h1#name-tag {
    /* set styles for my name at the top */
    font-family: 'Raleway', sans-serif;
    font-size: 3.13rem;
    font-weight: 900;
    color: var(--gray);
    text-align: center;
    margin: 30px 0 0 0;
}
section#overall-sec p.centered {
    /* remove margin of the text "Web Developer" so it has ideal spacing to the following anchor list */
    margin-bottom: 0;
}
section#overall-sec footer {
    /* set the link area relative-positional to help using pseudo classes such as after */
    position: relative;
    margin: 20px 0;
}
section#overall-sec footer a {
    margin: 10px;
    color: var(--gray);
}
section#overall-sec footer a:after {
    /* using after pseudo class, putting a border between links
        can be done by using '|'and managing font-weight.. but using width is more handy */
    content: '';
    /* place it based on absolute position (determined by the parent) */
    position: absolute;
    bottom: 3px;
    /* style */
    background-color: var(--dark);
    opacity: 0.3;
    width: 0.05rem;
    height: 20px;
    margin-left: 0.5em;
    pointer-events: none;
}
/* exclude border for the last link */
section#overall-sec footer a:last-child:after {
    content: '';
    margin: 0;
    width: 0;
    height: 0;
}
section#overall-sec footer a.has-tooltip:hover + div{
    /* when resume download link is hovered, display hidden tooltip */
    display: block;
}
/* style for resume download tooltip */
section#overall-sec footer div.tooltip-top {
    background-color: var(--emp);
    color: var(--white);
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 500;
    padding: 5px;
    /* set it independent on other children links, and place it from the same position with the download link  */
    position: absolute;
    width: 154px;
    top: -34px;
    left: -30px;
}
/* add arrow for resume download tooltip */
section#overall-sec footer div.tooltip-top:after {
    content: '▼';
    color: var(--emp);
    font-size: .7rem;
    /* must be absolute to center text inside the div */
    position: absolute;
    top: 26px;
    right: 79px;
}
/************************************
 * SECTION 2: About me & Basic info *
 ************************************/
section#aboutme-sec, section#contactme-sec{
    background-color: var(--white);
}
section#aboutme-sec > #aboutme-container {
    /* display each child sub-section in a grid box, */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    /* must set max-width when dealing with grid and wanting to restrict the max width */
    max-width: 1024px;
    /* set contents flowing from the top (at the same location regardless of divs) */
    align-items: baseline;
    /* put equal margin on the left and the right*/
    margin: auto;
}
section#aboutme-sec div.info-container.short-margin {
    /* when the screen's max-width, set the ratio of About me - Date:dateValue(1:2) */
    grid-template-columns: 1fr 2fr;
}
#aboutme-container > div {
    margin: 20px;
}
section#aboutme-sec div.info-container {
    /* display basic info groups in a grid box */
    display: grid;
    /* field name and value width should be 1:1 */
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
}
section#aboutme-sec div.info-container h3 {
    /* set style for field names in the Basic info */
    margin: 0;
    color: var(--gray);
    font-size: 1.14rem;
    font-weight: 700;
}

/************************
 * SECTION 3: Education *
 ************************/
section#education-sec{
    background-color: var(--off-white);
}
div.cards-container {
    /* display container for all cards in a flex box from top to bottom */
    display: flex;
    flex-direction: column;
    /* set it to occupy the full content area */
    width: 100%;
}
div.card-container {
    /* card consists of 2 parts (visual - detail) */
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    margin-bottom: 20px;
    /* set minimum height so different cards have the same minimum heights */
    min-height: 200px;
}
div.card-container div.visual {
    /* use grid box to control spacing more easily */
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    /* grid-column: 1/2;
    height: 100%; */
    background-color: var(--emp);
    color:var(--white);
}
span.edu-period{
    grid-row: 2/3;
    align-self: center;
}
.visual h3 {
    grid-row: 3/4;
    align-self: center;
    margin:0;
}
div.description h3 {
    margin-bottom: 0px;
    font-weight: 100;

    color: var(--dark);
}
div.description h4, h4 a {
    margin-top: 5px;
    margin-bottom: 0;
    color: var(--emp);
    font-weight: 800;
}
div.description > p {
    margin-top:15px;
    margin-bottom:5px;
    color: var(--dark);
}
div.description>ul{
    margin-top:0;
    color: var(--gray);
    font-size: .9rem;
}
div.card-container div.description {
    grid-column: 2/3;
    text-align: left;
    padding-left: 50px;
    background-color: var(--white);
    height: 100%;
}

/************************
 * SECTION 4: Contact me *
 ************************/
section#contactme-sec{
    min-height: 1000px;
}
form {
    margin: 0 auto 25px auto;
    padding: 2em;
    background-color: var(--main);
    display: grid;
    grid-gap: 20px;
    align-items: center;
}
form label {
    align-self: center;
}
form div#postal-code-wrapper>label {
    padding-right: 20px;
}
form label, form span.radio-title {
    font-size:1.1em;
    font-weight: 700;
    color: var(--gray);
}

form input[type="radio"]+label {
    font-weight: 500;
    vertical-align: top;
}
form input, form textarea {
    padding:7px;
    border: 1px solid rgb(206, 212, 218);
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--gray);
}
form div.form-control{
    grid-template-columns: 1fr 3fr;
    display: grid;
}
form div.shorts{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

form div#postal-code-wrapper{
    text-align: right;
}
form div.radio {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: baseline;
}
.radio-option-wrapper:first-child{
    grid-column-start: 2;
}
form .buttons {
    text-align: right;
}

input[type="submit"], input[type="reset"]{
    width:150px;
    background-color: var(--emp);
    color:var(--white);
    font-weight: 700;
    cursor: pointer;
}
input[type="reset"]{
    background-color: var(--off-white);
    color: var(--emp);
}
input[type="submit"]:hover,input[type="reset"]:hover {
    background-color: var(--gray);
    color:var(--white);
}
form.validated input:invalid {
    border-color: var(--error);
    background-color: var(--highlight);
    border-width: 3px;
}
/* make the input inside form shrink as screen size decreases */
div.form-control input[type="text"], input[type="tel"], input[type="email"],input[type="number"] {
    width:100%;
}

@media screen and (max-width:923px) {
    /* collapse about me and basic info into two */
    section#aboutme-sec #aboutme-container {
        display: block;
        margin: 20px 0;
        align-items: center;
    }
    div#about{
        padding: 20px;
        border-bottom: 1px solid var(--main);
    }
    section#aboutme-sec div.short-margin {
        grid-template-columns: 1fr 1fr;
        max-width: 500px;
        margin:auto;
    }
    div#about{
        margin-bottom: 20px;
    }
    div#basic-info {
        max-width: 500px;
        margin: auto;
        padding: 40px;
    }
    section#aboutme-sec #about > h2, #basic-info > h2{
        text-align: center;
    }
    section {
        min-height: 800px;
    }
    h2 {
        margin: 0 0 30px 0
    }
    div.card-container div.description {
        padding-left: 20px;
    }
}

@media screen and (max-width:706px) {
    form label, form span.radio-title {
        font-size: 1rem;
    }
    form input, form textarea {
        font-size: 0.9rem;
        padding:4px;
    }
    form {
        padding:1.5em;
    }
    section#contactme-sec {
        min-height: 900px;
    }
}
@media screen and (max-width:668px) {
    html, body {
        width: 100%;
    }
    div.card-container {
        max-height: 150px;
    }

    div.card-container div.visual {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        font-size: .85rem;
    }

    div.card-container div.description {
        font-size: .9rem;
        padding-left: 10px;
    }
    section#overall-sec:hover div.tooltip-top {
        border-radius: 10px;
        font-size: .8rem;
        padding: 3px;
        width: 150px;
        top: -17px;
        left: 127px;
    }
    section#overall-sec div.tooltip-top:after {
        top:18px
    }
    footer a.has-tooltip{
        display: block;
    }
    section#overall-sec footer a.has-tooltip:after {
        height: 0;
        width: 0;
    }
    section#overall-sec footer a:after {
        height: 15px;
        bottom:2;
    }
    form div.form-control {
        grid-template-columns: 1fr 4fr;
        display: grid;
    }
    
    form div.shorts, form div.radio {
        grid-template-columns: 1fr 1.33fr 1.33fr 1.33fr;
    }
    
    footer {
        font-size: .95rem;
    }
    section#contactme-sec {
        min-height: 850px;
    }
}
@media screen and (max-width:552px) {
    h2 {
        font-size: 2rem;
    }

    div, span, p, li, h3 {
        font-size: .95rem;
    }
    section#overall-sec img {
        width: 335px;
    }
    section{
        min-height: 700px;
    }
    section#aboutme-sec div.info-container h3, footer {
        font-size:.9rem;
        font-size:.95rem;
    }
    div#basic-info {
        padding: 20px;
    }
    #aboutme-container>div {
        margin: 20px;
    }
    form label,
    form span.radio-title {
        font-size: .9rem;
    }
    form span.radio-title{
        grid-column: 1/4;
    }
    form div.shorts,
    form div.radio, form div.form-control {
        grid-template-columns: 1fr;
        column-gap: 10px;
        /* give spacing between city and postal code */
    }
    form input#city{
        margin-bottom: 20px;
    }
    label.left {
        text-align: left;
    }
    form div.radio {
        grid-template-columns: 1fr 1fr 1fr;
    }
    form input, form textarea{
        padding: 4px;
    }
    form {
        grid-gap: 15px;
    }
    section#overall-sec footer a {
        margin:7px
    }
    h1#name-tag {
        font-size: 3rem;
    }
    footer a {
        font-size:.85rem;
    }
}

@media screen and (max-width:400px) {

    section {
        width:100%;
        min-height: 650px;
        min-width: 350px;
    }
    div, span, p, li, h3 {
        font-size: .8rem;
    }
    h2 {
        font-size:1.4rem;
    }
    section#aboutme-sec div.info-container h3 {
        font-size:.9rem;
    }
    form label, form span.radio-title{
        font-size: .85rem;
    }
    div.form-control input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="number"],
    form textarea {
        font-size: .8rem;
    }
    form .buttons{
        display: flex;
        justify-content: space-between;
    }
    input[type="submit"], input[type="reset"] {
        width:49%;
        font-size: .8rem;
    }
    section#contactme-sec {
        min-height: 900px;
    }
}

@media screen and (max-width:372px) {
    section#overall-sec img {
        width: 310px;
    }
    form label, form span.radio-title{
        font-size: .75rem;
    }
    h1#name-tag {
        font-size:2.7rem;
    }
    footer a {
        font-size:.8rem;
    }
}