@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Raleway:wght@200;300;400;800;900&family=Rammetto+One&family=Shrikhand&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Rammetto One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Shrikhand', cursive;
*/
:root {
    --emp: #8e8377;
    --main:#F0EDE8;
    --off-white: #f6f6f6;
    --white: #fff;
    --dark: #23272a;
    --gray: #515151;
    --error:#ffb9ad;
    --highlight: #fff9f9;
}
html, body {
    height: 100%;
    width: 100%;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size:1.1rem;
    font-weight:400;
    color:var(--dark);
}
a {
    text-decoration: none;
    color:var(--dark);
}
a:hover {
    text-decoration: underline;
}
div.content-container{
    /* limit the width and max width of content area */
    width: 95vw;
    max-width:1024px;
    /* make them have equal margin on the left and the right*/
    margin:auto;
    align-items: center;
    flex-direction: column;
    display: flex;
}
section {
    display: flex;
    min-height: 800px;
}
h2 {
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 40px;
    color:var(--gray);
}

span.required {
    font-weight: 800;
    margin-left:3px;
}
.centered {
    text-align: center;
}
.justify{
    text-align: justify;
}
q{
    color:var(--gray);
}
section#overal-sec{
    background-color: var(--main);
}
section#overal-sec img{
    width:350px;
}
section#overal-sec p.centered {
    margin-bottom: 0;
}
a.has-tooltip:hover + div{
    display: block;
}
section#overal-sec div.tooltip-top {
    background-color: #8e8377;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: .9rem;
    font-weight: 500;
    padding: 5px;
    position: absolute;
    width: 154px;
    top: -34px;
    left: -30px;
}
section#overal-sec div.tooltip-top:after {
    content: '▼';
    font-size: .8rem;
    position: absolute;
    top: 25px;
    left: 70px;
    color: var(--emp);
    background-color: transparent;
}
section#overal-sec footer {
    position: relative;
    margin: 20px 0;
}
section#overal-sec footer a {
    margin: 10px;
    text-decoration: none;
    color:var(--gray);
}
section#overal-sec footer a:after {
    content: '';
    margin-left: 0.5em;
    pointer-events: none;
    position: absolute;
    width: 0.0625rem;
    height: 20px;
    bottom: 3px;
    background: var(--dark);
    opacity: 0.3;
}
section#overal-sec footer a:last-child:after {
    content: '';
    margin: 0;
    width: 0;
    height: 0;
}
section#aboutme-sec {
    align-items: center;
}
section#aboutme-sec #aboutme-container {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    max-width:1024px;
    /* put equal margin on the left and the right*/
    margin:auto;
}
#aboutme-container > div {
    margin: 20px;
}
section#aboutme-sec div.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
    align-items: center;
}
section#aboutme-sec div.short-margin {
    grid-template-columns: 1fr 2fr;
}
section#aboutme-sec div.info-container h3 {
    margin: 0;
    font-weight: 700;
    color: var(--gray);
    font-size: 1.14rem;
}

section#aboutme-sec, section#contactme-sec{
    background-color: var(--white);
}
section#education-sec{
    background-color: var(--off-white);
}
h1#name-tag {
    font-family: 'Raleway', sans-serif;
    font-size: 3.13rem;
    font-weight: 900;
    color: var(--gray);
    margin: 30px 0 0 0;
}

div.cards-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}
div.card-container {
    grid-template-columns: 1fr 2fr;
    display: grid;
    text-align: center;
    margin-bottom: 20px;
    min-height: 200px;
}
div.card-container div.visual {
    /*align-self: center;*/
    grid-column: 1/2;
    background-color: var(--emp);
    height: 100%;
    color:var(--white);
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 2fr;
}
span.edu-period{
    grid-row: 2/3;
    align-self: center;
}
.visual h3 {
    grid-row: 3/4;
    align-self: center;
    margin:0;
}
div.description h3 {
    margin-bottom: 0px;
    font-weight: 100;

    color: var(--dark);
}
div.description h4, h4 a {
    margin-top: 5px;
    margin-bottom: 0;
    color: var(--emp);
    font-weight: 800;
}
div.description > p {
    margin-top:15px;
    margin-bottom:5px;
    color: var(--dark);
}
div.description>ul{
    margin-top:0;
    color: var(--gray);
    font-size: .9rem;
}
div.card-container div.description {
    /*align-self: center;*/
    grid-column: 2/3;
    text-align: left;
    padding-left: 50px;
    background-color: var(--white);
    height: 100%;
}
section#contactme-sec{
    min-height: 1000px;
}
form {
    margin: 0 auto 25px auto;
    padding: 2em;
    background-color: var(--main);
    display: grid;
    grid-gap: 20px;
    align-items: center;
}
form label {
    align-self: center;
}
form div#postal-code-wrapper>label {
    padding-right: 20px;
}
form label, form span.radio-title {
    font-size:1.1em;
    font-weight: 700;
    color: var(--gray);
}

form input[type="radio"]+label {
    font-weight: 500;
    vertical-align: top;
}
form input, form textarea {
    padding:7px;
    border: 1px solid rgb(206, 212, 218);
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--gray);
}
form div.form-control{
    grid-template-columns: 1fr 3fr;
    display: grid;
}
form div.shorts{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

form div#postal-code-wrapper{
    text-align: right;
}
form div.radio {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: baseline;
}
.radio-option-wrapper:first-child{
    grid-column-start: 2;
}
form .buttons {
    text-align: right;
}

input[type="submit"], input[type="reset"]{
    width:150px;
    background-color: var(--emp);
    color:var(--white);
    font-weight: 700;
    cursor: pointer;
}
input[type="reset"]{
    background-color: var(--off-white);
    color: var(--emp);
}
input[type="submit"]:hover,input[type="reset"]:hover {
    background-color: var(--gray);
    color:var(--white);
}
form.validated input:invalid {
    border-color: var(--error);
    background-color: var(--highlight);
    border-width: 3px;
}
/* make the input inside form shrink as screen size decreases */
div.form-control input[type="text"], input[type="tel"], input[type="email"],input[type="number"] {
    width:100%;
}

@media screen and (max-width:923px) {
    /* collapse about me and basic info into two */
    section#aboutme-sec #aboutme-container {
        display: block;
        margin: 20px 0;
        align-items: center;
    }
    div#about{
        padding-bottom: 20px;
        border-bottom: 1px solid var(--main);
    }
    section#aboutme-sec div.short-margin {
        grid-template-columns: 1fr 1fr;
    }
    div#about{
        margin-bottom: 60px;
    }
    section#aboutme-sec #about > h2, #basic-info > h2{
        text-align: center;
    }
    section {
        min-height: 800px;
    }
    h2 {
        margin: 0 0 30px 0
    }
    div.card-container div.description {
        padding-left: 20px;
    }
}

@media screen and (max-width:706px) {
    form label, form span.radio-title {
        font-size: 1rem;
    }
    form input, form textarea {
        font-size: 0.9rem;
        padding:4px;
    }
    form {
        padding:1.5em;
    }
    section#contactme-sec {
        min-height: 900px;
    }
}
@media screen and (max-width:668px) {
    html, body {
        width: 100%;
    }
    div.card-container {
        max-height: 150px;
    }

    div.card-container div.visual {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        font-size: .85rem;
    }

    div.card-container div.description {
        font-size: .9rem;
        padding-left: 10px;
    }
    section#overal-sec:hover div.tooltip-top {
        border-radius: 10px;
        font-size: .8rem;
        padding: 3px;
        width: 150px;
        top: -17px;
        left: 127px;
    }
    section#overal-sec div.tooltip-top:after {
        top:18px
    }
    footer a.has-tooltip{
        text-align: center;
        display: block;
    }
    section#overal-sec footer a.has-tooltip:after {
        height: 0;
        width: 0;
    }
    section#overal-sec footer a:after {
        height: 15px;
        bottom:2;
    }
    form div.form-control {
        grid-template-columns: 1fr 4fr;
        display: grid;
    }
    
    form div.shorts, form div.radio {
        grid-template-columns: 1fr 1.33fr 1.33fr 1.33fr;
    }
    
    footer {
        font-size: .95rem;
    }
    section#contactme-sec {
        min-height: 850px;
    }
}
@media screen and (max-width:552px) {
    h2 {
        font-size: 2rem;
    }

    div, span, p, li, h3 {
        font-size: .95rem;
    }
    section#overal-sec img {
        width: 335px;
    }
    section{
        min-height: 700px;
    }
    section#aboutme-sec div.info-container h3, footer {
        font-size:.9rem;
        font-size:.95rem;
    }
    form label,
    form span.radio-title {
        font-size: .9rem;
    }
    form span.radio-title{
        grid-column: 1/4;
    }
    form div.shorts,
    form div.radio, form div.form-control {
        grid-template-columns: 1fr;
        column-gap: 10px;
        /* give spacing between city and postal code */
    }
    form input#city{
        margin-bottom: 20px;
    }
    label.centered {
        text-align: left;
    }
    form div.radio {
        grid-template-columns: 1fr 1fr 1fr;
    }
    form input, form textarea{
        padding: 4px;
    }
    form {
        grid-gap: 15px;
    }
    section#overal-sec footer a {
        margin:7px
    }
    h1#name-tag {
        font-size: 3rem;
    }
    footer a {
        font-size:.85rem;
    }
}

@media screen and (max-width:400px) {

    section {
        width:100%;
        min-height: 650px;
        min-width: 350px;
    }
    div, span, p, li, h3 {
        font-size: .8rem;
    }
    h2 {
        font-size:1.4rem;
    }
    section#aboutme-sec div.info-container h3 {
        font-size:.9rem;
    }
    form label, form span.radio-title{
        font-size: .85rem;
    }
    div.form-control input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="number"],
    form textarea {
        font-size: .8rem;
    }
    form .buttons{
        display: flex;
        justify-content: space-between;
    }
    input[type="submit"], input[type="reset"] {
        width:49%;
        font-size: .8rem;
    }
    section#contactme-sec {
        min-height: 900px;
    }
}

@media screen and (max-width:372px) {
    section#overal-sec img {
        width: 310px;
    }
    form label, form span.radio-title{
        font-size: .75rem;
    }
    h1#name-tag {
        font-size:2.7rem;
        text-align: center;
    }
    footer a {
        font-size:.8rem;
    }
}