/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Raleway:wght@200;300;400;800;900&display=swap');

/* Color Set*/
:root {
    --emp: #8e8377;
    --main:#F0EDE8;
    --off-white: #f6f6f6;
    --white: #fff;
    --dark: #23272a;
    --gray: #515151;
    --error:#ffb9ad;
    --highlight: #fff9f9;
}
html, 
body {
    /* html and body occupy the entire screen */
    height: 100%;
    width: 100%;
    margin:0;
    /* set basic font and its styles */
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color:var(--dark);
}
a {
    /* reset a link's default */
    text-decoration: none;
    color: var(--dark);
}
a:hover {
    /* when a link is hovered over, displayed it underlined for better user experience */
    text-decoration: underline;
}
section {
    /* display the parent element in flex box so it gets margins properly by the child attribute (margin:auto) */
    display: flex;
    /* set a minimum height for each section so it won't have a content-based height */
    min-height: 800px;
}
div.content-container{
    /* limit the width and max width of content area up to 95% of the viewport and 1024px at max */
    width: 95vw;
    max-width:1024px;
    /* make content area have equal margin on the left and the right*/
    margin:auto;
    /* display items in the flex content area with top to bottom direction */
    display: flex;
    flex-direction: column;
    /* in Flex or Grid area, put item around the center*/
    align-items: center;
}
h2 {
    /* each section title's default style */
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 40px;
    color:var(--gray);
}
span.required {
    /* set styles of (*) next to the required fields */
    font-weight: 800;
    margin-left: 3px;
}
.centered {
    /* set child elements centered */
    text-align: center;
}
p.justify {
    /* justify texts based on class */
    text-align: justify;
}
q {
    /* set different color for quotes so that they stand out less */
    color: var(--gray);
}
/************************
 * SECTION 1 : Overview *
 ***********************/
section#overall-sec{
    background-color: var(--main);
}
section#overall-sec img{
    width: 350px;
}
h1#name-tag {
    /* set styles for my name at the top */
    font-family: 'Raleway', sans-serif;
    font-size: 3.13rem;
    font-weight: 900;
    color: var(--gray);
    text-align: center;
    margin: 30px 0 0 0;
}
section#overall-sec p.centered {
    /* remove margin of the text "Web Developer" so it has ideal spacing to the following anchor list */
    margin-bottom: 0;
}
section#overall-sec footer {
    /* set the link area relative-positional to help using pseudo classes such as after */
    position: relative;
    margin: 20px 0;
}
section#overall-sec footer a {
    margin: 10px;
    color: var(--gray);
}
section#overall-sec footer a:after {
    /* using after pseudo class, putting a border between links
        can be done by using '|'and managing font-weight.. but using width is more handy */
    content: '';
    /* place it based on absolute position (determined by the parent) */
    position: absolute;
    bottom: 3px;
    /* style */
    background-color: var(--dark);
    opacity: 0.3;
    width: 0.05rem;
    height: 20px;
    margin-left: 0.5em;
    pointer-events: none;
}
/* exclude border for the last link */
section#overall-sec footer a:last-child:after {
    content: '';
    margin: 0;
    width: 0;
    height: 0;
}
section#overall-sec footer a.has-tooltip:hover + div{
    /* when resume download link is hovered, display hidden tooltip */
    display: block;
}
/* style for resume download tooltip */
section#overall-sec footer div.tooltip-top {
    background-color: var(--emp);
    color: var(--white);
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 500;
    padding: 5px;
    /* set it independent on other children links, and place it from the same position with the download link  */
    position: absolute;
    width: 154px;
    top: -34px;
    left: -30px;
}
/* add arrow for resume download tooltip */
section#overall-sec footer div.tooltip-top:after {
    content: '▼';
    color: var(--emp);
    font-size: .7rem;
    /* must be absolute to center text inside the div */
    position: absolute;
    top: 26px;
    right: 79px;
}
/************************************
 * SECTION 2: About me & Basic info *
 ************************************/
section#aboutme-sec, 
section#contactme-sec {
    background-color: var(--white);
}
section#aboutme-sec > #aboutme-container {
    /* display each child sub-section in a grid box, */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    /* must set max-width when dealing with grid and wanting to restrict the max width */
    max-width: 1024px;
    /* set contents flowing from the top (at the same location regardless of divs) */
    align-items: baseline;
    /* put equal margin on the left and the right*/
    margin: auto;
}
section#aboutme-sec div.info-container.short-margin {
    /* when the screen's max-width, set the ratio of About me - Date:dateValue(1:2) */
    grid-template-columns: 1fr 2fr;
}
#aboutme-container > div {
    margin: 20px;
}
section#aboutme-sec div.info-container {
    /* display basic info groups in a grid box */
    display: grid;
    /* field name and value width should be 1:1 */
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
}
section#aboutme-sec div.info-container h3 {
    /* set style for field names in the Basic info */
    margin: 0;
    color: var(--gray);
    font-size: 1.14rem;
    font-weight: 700;
}

/************************
 * SECTION 3: Education *
 ************************/
section#education-sec{
    background-color: var(--off-white);
}
div.cards-container {
    /* display container for all cards in a flex box from top to bottom */
    display: flex;
    flex-direction: column;
    /* set it to occupy the full content area */
    width: 100%;
}
div.card-container {
    /* card consists of 2 parts (visual - detail) */
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    margin-bottom: 20px;
    /* set minimum height so different cards have the same minimum heights */
    min-height: 200px;
}
div.card-container div.visual {
    /* use grid box to control spacing more easily */
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    background-color: var(--emp);
    color:var(--white);
}
span.edu-period {
    /* start from the second row (leave the first grid row empty) */
    grid-row: 2/3;
    /* align vertically */
    align-self: center;
}
div.visual h3 {
    /* start from the right next cell */
    grid-row: 3/4;
    /* align vertically */
    align-self: center;
    margin:0;
}
div.card-container div.description {
    /* override the text-alignment set by card-container */
    text-align: left;
    padding-left: 50px;
    background-color: var(--white);
}
div.description h3 {
    /* diploma title style */
    color: var(--dark);
    margin-bottom: 0px;
    font-weight: 400;
}
div.description h4, 
h4 a {
    /* institution title style */
    color: var(--emp);
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 800;
}
div.description > p {
    /* major title style */
    color: var(--dark);
    margin-top: 15px;
    margin-bottom: 5px;
}
div.description > ul{
    /* detail list style */
    color: var(--gray);
    margin-top:0;
    font-size: .9rem;
}


/************************
 * SECTION 4: Contact me *
 ************************/
section#contactme-sec{
    min-height: 1000px;
}
form {
    background-color: var(--main);
    /* put margin-bottom (h2 has m-b) so it looks aligned and put them around center vertically */
    margin: 0 auto 25px auto;
    /* put padding so form could breathe */
    padding: 2em;
    /* display the form in a grid box */
    display: grid;
    grid-gap: 20px;
}
form label, 
form span.radio-title {
    /* label style */
    font-size: 1.1em;
    font-weight: 700;
    color: var(--gray);
}
form input, 
form textarea {
    color: var(--gray);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /* count padding and margin into box size, so fields ends at the same line with text area*/
    box-sizing: border-box;
    padding: 7px;
    border: 1px solid rgb(206, 212, 218);
}
form div.form-control {
    /* display field name - value with a ratio of 1:3 in a grid box */
    display: grid;
    grid-template-columns: 1fr 3fr;
}
form div.shorts {
    /* display 2 field name - value with a ratio of 1:1 */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
form label {
    /* align label and input box horizontally */
    align-self: center;
}
form div#postal-code-wrapper > label {
    padding-right: 20px;
}
form input[type="radio"]+label {
    /* make radio options less bolder */
    font-weight: 500;
}
form div#postal-code-wrapper{
    text-align: right;
}
form div.radio {
    /* put the field name and value options in the same row */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
form .buttons {
    /* put submit and reset button in the right */
    text-align: right;
}
input[type="submit"], input[type="reset"] {
    width: 150px;
    background-color: var(--emp);
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}
input[type="reset"] {
    background-color: var(--off-white);
    color: var(--emp);
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: var(--gray);
    color:var(--white);
}
form.validated input:invalid {
    border-color: var(--error);
    background-color: var(--highlight);
    border-width: 3px;
}
/* make the input inside form shrink as screen size decreases */
div.form-control input[type="text"], 
input[type="tel"], 
input[type="email"],
input[type="number"] {
    width:100%;
}

/***************************
 *******Responsive web******
 ***************************/
@media screen and (max-width:923px) {
    section {
        /* put a common minimum height so they look balanced */
        min-height: 800px;
    }
    h2 {
        margin: 0 0 30px 0
    }
    /* collapse about me and basic info into two */
    section#aboutme-sec #aboutme-container {
        /* override grid setting */
        display: block;
        margin: 20px 0;
        align-items: center;
    }
    section#aboutme-sec #about > h2, #basic-info > h2{
        /* when it's collapsed, put title around center */
        text-align: center;
    }
    div#about{
        padding: 20px;
        margin-bottom: 20px;
        /* put a border between about me and basic info */
        border-bottom: 1px solid var(--main);
    }
    section#aboutme-sec div.info-container.short-margin {
        /* override the ratio when it's collapsed so it moves with other field names in basic info */
        grid-template-columns: 1fr 1fr;
        max-width: 500px;
        margin: auto;
    }
    div#basic-info {
        /* limit the max width and put equal margins aside */
        max-width: 500px;
        padding: 40px;
        margin: auto;
    }
    div.card-container div.description {
        /* reduce padding left of the detail part in education */
        padding-left: 20px;
    }
}
@media screen and (max-width:706px) {
    form label, 
    form span.radio-title {
        font-size: 1rem;
    }
    form input, 
    form textarea {
        font-size: 0.9rem;
        padding: 4px;
    }
    form {
        padding: 1.5em;
    }
    section#contactme-sec {
        min-height: 900px;
    }
}
@media screen and (max-width:668px) {
    footer {
        font-size: .95rem;
    }
    footer a.has-tooltip{
        /* collapse from other items */
        display: block;
    }
    /* coordinate the location and size of tooltip */
    section#overall-sec:hover div.tooltip-top {
        font-size: .8rem;
        padding: 3px;
        width: 140px;
        top: -17px;
        left: 134px;
    }
    section#overall-sec footer div.tooltip-top:after {
        top: 18px;
        right: 68px;
    }
    section#overall-sec footer a.has-tooltip:after {
        /* when it's collapsed, remove the existing border */
        height: 0;
    }
    section#overall-sec footer a:after {
        /* resize borders between items*/
        height: 15px;
    }
    div.card-container {
        max-height: 150px;
    }
    div.card-container div.visual {
        /* reduce margin (1 fraction on the top and the bottom ) */
        grid-template-rows: 1fr 1fr 1fr 1fr;
        font-size: .85rem;
    }
    div.card-container div.description {
        font-size: .9rem;
        padding-left: 10px;
    }
    form div.form-control {
        /* coordinate the ratio of label and input area */
        grid-template-columns: 1fr 4fr;
    }
    form div.shorts, 
    form div.radio {
        /* coordinate the ratio of label and input area 
           so they move together with other fields above */
        grid-template-columns: 1fr 1.33fr 1.33fr 1.33fr;
    }
}
@media screen and (max-width:552px) {
    h2 {
        font-size: 2rem;
    }
    div, span, p, li, h3 {
        font-size: .9rem;
    }
    section {
        min-height: 700px;
    }
    section#overall-sec img {
        width: 335px;
    }
    h1#name-tag {
        font-size: 3rem;
    }
    section#aboutme-sec div.info-container h3,
    footer {
        font-size: .9rem;
    }
    /* coordinate the location and size of tooltip */
    section#overall-sec:hover div.tooltip-top {
        font-size: .75rem;
        padding: 2px;
        width: 125px;
        left: 113px;
    }
    section#overall-sec footer div.tooltip-top:after {
        top: 15px;
        right: 59px;
    }
    section#overall-sec footer a {
        margin: 7px;
        font-size: .85rem;
    }
    div#aboutme-container > div {
        margin: 20px;
    }
    div#basic-info {
        padding: 20px;
    }
    section#contactme-sec {
        /* label and input area get collapsed, so increase the height of the section */
        min-height: 1100px;
    }
    form input, form textarea{
        padding: 4px;
    }
    form {
        grid-gap: 15px;
    }
    form label,
    form span.radio-title {
        font-size: .9rem;
    }
    form span.radio-title{
        /* set the tile occupy the row */
        grid-column: 1/4;
    }
    form div.shorts,
    form div.radio, 
    form div.form-control {
        /* separate label and input area in its own line */
        grid-template-columns: 1fr;
        column-gap: 10px;
    }
    form input#city{
        /* give spacing between city and postal code */
        margin-bottom: 20px;
    }
    form input[type="radio"]+label {
        vertical-align: top;
    }
    label.left {
        /* override existing setting of postal code label to left alignment */
        text-align: left;
    }
    form div.radio {
        /* place radio options at a 1:1:1 ratio */
        grid-template-columns: 1fr 1fr 1fr;
    }
    form .buttons {
        /* place button at the end */
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width:400px) {
    section {
        min-height: 650px;
        min-width: 350px;
    }
    div, span, p, li, h3 {
        font-size: .8rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    form label,
    form span.radio-title{
        font-size: .85rem;
    }
    div.form-control input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="number"],
    form textarea {
        font-size: .8rem;
    }
    input[type="submit"], input[type="reset"] {
        width: 49%;
        font-size: .8rem;
    }
}
@media screen and (max-width:372px) {
    section#overall-sec footer a:after {
        bottom: 25px;
    }
    section#overall-sec img {
        width: 310px;
    }
    h1#name-tag {
        font-size: 2.7rem;
    }
    footer a {
        font-size:.8rem;
    }
    form label, form span.radio-title{
        font-size: .75rem;
    }
}